/*---
title:   Grid
name:    mixin_object_grid
section: Mixin
---

Fluid width, responsive grid system.

```css
// Basic grid.
o-grid([$-flex: true])

// Vertical spacing between grid items.
o-grid-spaced-vertical([$-spacing: map-get($spacing, m)[, $-item-selector: '.o-grid__item']])

// Horizontal spacing between grid items.
o-grid-spaced-horizontal([$-spacing: map-get($spacing, m)[, $-item-selector: '.o-grid__item']])

// Basic grid item.
o-grid-item([$-flex: true])
```

```css
.foo {
  @include o-grid();
  @include o-grid-spaced-vertical();
  @include o-grid-spaced-horizontal();
}

.bar {
  @include o-grid-item();
}
```
*/
@mixin o-grid($-flex: true) {
  @if $-flex {
    display: flex;
    flex-wrap: wrap;
  } @else {
    @include u-clearfix();
  }
}

@mixin o-grid-spaced-vertical($-spacing: map-get($spacing, m), $-item-selector: '.o-grid__item') {
  margin-top: -$-spacing;
  > #{$-item-selector} {
    margin-top: $-spacing;
  }
}

@mixin o-grid-spaced-horizontal($-spacing: map-get($spacing, m), $-item-selector: '.o-grid__item') {
  margin-left: -$-spacing;
  > #{$-item-selector} {
    padding-left: $-spacing;
  }
}

@mixin o-grid-item($-flex: true) {
  @if not $-flex {
    float: left;
  }
}
